*{
    padding: 0;
    margin: 0; 
    font-family: arial;
}

.wrapper {
    width: 100%; 
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-image {
    background-color: rgb(99, 247, 247);
    padding: 20px 20px;
    width: 300px;
}

h1 {
    color: rgb(55, 52, 41); 
    font-size: 30px;
    margin-bottom: 20px;
}