.body {
    max-width: 100%; 
    border: 1px solid black; 
    margin: auto; 
    @media only screen and (max-width: 600px);
}

.head1 {
    background-color: gray;
}

.nav1 {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid black;
}

.ulkiri {
    margin-right: 50px; 
    display: flex; 
    list-style-type: none; 
    gap: 10px;
}

.ul2 {
   display: flex; 
   list-style-type: none; 
   gap: 10px;
}

.none{
    list-style-type: none;
}

.ulkanan {
    margin-left: auto; 
    display: flex; 
    align-items: center; 
    list-style-type: none; 
    gap: 10px;
}

.li1 {
    display: flex; 
    gap: 10px; 
    align-items: center;
}

.div1 {
    display: flex; 
    gap: 20px; 
    margin-top: 100px; 
    padding: 10px;
}

.m1 {
    width: 60%;
}

.div1dlm {
    display: flex; 
    align-items: right; 
    gap: 10px;
}

.p1 {
    font-size: 23px; 
    font-weight: bolder;
}

.ul3cstmr {
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
    padding-left: 10px;
}

.div1dlm2 {
    display: flex;
}

.fontbesar {
    font-weight: bolder;
}

.div2 {
    width: 320px; 
    height: 320px; 
    background-color: lightgray; 
    padding: 10px; 
    display: grid; 
    align-items: center;
}

.tblharga {
    width: 100%; 
    padding: 10px ; 
    border-collapse: collapse;
}

.trharga {
    padding: 10px;
}

.tddsc {
    border-top: 2px solid white; 
    padding-left: 10px; 
    padding-top: 10px;
}

.td1{
    border-top: 2px solid white;
}

.tdttlhrg {
    display: flex; 
    gap: 15px; 
    margin-bottom: 10px;
}

.footr{
margin-top: 100px; 
border-top: 1px solid black; 
padding: 20px; 
display: grid; 
gap: 10px;
}

.divdown {
    display: flex;
    gap: 10px;
}

.adown{
    margin-left: auto;
}

.divdown2 {
    display: flex;
    gap: 5px;
}

.divdown3 {
    display: flex; 
    align-items: center; 
    margin-left: auto; 
    font-weight: bolder;
}

.inpt1 {
    font-weight: bolder; 
    height: 20px;
}

.inpt2 {
    background-color: black; 
    color:rgb(135, 222, 210);
}